
# server-side .gitignore
*/node_modules/
server/prisma/.env
server/.env
*/env.yml
*/.env
.env


# client-side .gitignore
# clien/node_modules/
# next.js
*/.next/
*/out/
client/env.yml
# ref
.ref-files